#AboutPage{

    color:#ffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#AllBoxes{
    flex-direction: column;
    position:relative;
    display:flex;
    justify-content:space-between;
    margin:5vh;
    margin-bottom: 5vh;
}
#Title{
    font-size:18px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

#one{
    height:35vh;
    width:60vh;
    background-color:#164863;
    border-radius:5%/10%;
    border:solid 3px white;
    padding:1vh;
    margin-bottom:5vh;
}
#two{
    
    height:35%;
    width:60vh;
    background-color: #164863;
    padding:10px;
    border-radius: 5%/10%;
    border:solid 3px white;
    margin-bottom:5vh;
}
#three{
  
    height:35%;
    width:60vh;
    background-color:red;
    padding:1vh;
    border-radius: 5%/10%;
    border:solid 3px white;
    margin-bottom:5vh;
}
#four{
  
    height:35%;
    width:60vh;
    background-color:green;
    padding:1vh;
    border-radius: 5%/10%;
    border:solid 3px white;
    margin-bottom:5vh;
}
#five{
   
    height:35vh;
    width:60vh;
    background-color: purple;
    border-radius:5%/10%;
    padding:1vh;
    border:solid 3px white;
    margin-bottom:5vh;
}