#AboutPage{
    max-width: 100%;
    color:#ffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
#Title{
    margin: 0 auto;
    word-wrap: normal;
    max-width: 100%;
    width: 500px; 
    word-wrap: break-word;        
    text-align: center;
}
#box1{
    height:60vh;
    width:40vh;
    background-color: rgb(43, 42, 42);
    border-radius: 10%/10%;
    position:absolute;
    left:40%;
    top:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#box2{
    height:60vh;
    width:40vh;
    background-color: rgb(189, 34, 34);
    transform: rotate(20deg);
    border-radius: 10%/10%;
    position:absolute;
    left:50%;
    top:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#box3{
    height:60vh;
    width:40vh;
    background-color: rgb(183, 157, 157);
    transform: rotate(-20deg);
    border-radius: 10%/10%;
    position:absolute;
    right:50%;
    top:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
#CardBar{
    position:absolute;
    max-width: 100%;
    top:100vh;
    margin:20px;
    display:flex;
}