#AboutPage{

    color:#ffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Title{
    font-size:18px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

#one{
    position:absolute;
    height:35vh;
    width:60vh;
    background-color:#164863;
    border-radius:5%/10%;
    padding:10px;
    border:solid 3px white;
}
#two{
    position:absolute;
    height:35%;
    width:60vh;
    background-color: #164863;
    padding:10px;
    border-radius: 5%/10%;
    top:55vh;
    left:38vh;
    border:solid 3px white;
}
#three{
    position:absolute;
    height:35%;
    width:60vh;
    background-color:#164863;
    padding:10px;
    border-radius: 5%/10%;
    left:75vh;
    border:solid 3px white;
}
#four{
    position:absolute;
    height:35%;
    width:60vh;
    background-color:#164863;
    padding:10px;
    border-radius: 5%/10%;
    top:55vh;
    right:38vh;
    border:solid 3px white;
}
#five{
    position:absolute;
    height:35vh;
    width:60vh;
    background-color: #164863;
    border-radius:5%/10%;
    padding:10px;
    right:0px;
    border:solid 3px white;
}