:root {
  --gold-trim: 5px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MuiToolbar-root {
  background-color: #164863;
  border-bottom: var(--gold-trim) solid #BF9646;
}

#LandingPageLargeOpening {
  /* border: 4px dashed green; */
    background-color: #a3cbe0;
    flex-grow: 1;
}

#LandingPageExampleSchedules {
  /* border: 4px dashed yellow; */
    display:flex;
    background-color: #164863;
    border-top: var(--gold-trim) solid #BF9646;
    height: 25vh;
    justify-content:space-evenly;
    align-items: center;
    
} 

/* .ExampleSchedule { */
    /* NEVER USE PIXELS */
    
    /* background-color: #a3cbe0; */
/* } */

.ExampleSchedule.MuiButtonBase-root {
    height: 20vh;
    width: 20vh;
    background-color: #a3cbe0;
    border-radius: 100%;
    border: var(--gold-trim) solid #BF9646;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
     
    /* box-shadow: 2px 5px x rgb(0, 0, 0); */
    
}

.TryExampleSchedules.MuiButtonBase-root {
    background-color: #a3cbe0;
    border: var(--gold-trim) solid #BF9646;
    padding: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    font-weight: bold;

    /*normal is like 300 and bold is like 700 */
  
}

.ExampleSchedule > img{
  width:65%;
}
